.first {
    background-color: #1F2937;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 50px;
    min-width: 0px;
}

body {
    background-color: #1F2937;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav {
    background-color: #1F2937;
    display: flex;
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 60px;
    min-width: 0px;
}

h2 {
    margin-right: auto;
    min-width: fit-content;
}



.head {
    display: flex;
    background-color: #1F2937;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;    

}

ul {
    display: flex;
   list-style-type: none;
   flex-direction: row; 
   gap: 15px;
   min-width: fit-content;
   align-items: center;
   margin-right: 5px;

}

.second {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 100px;

}

h1 {
    margin-bottom: 0px;
    color: #f9faf8;

}

p{
    margin-top: 0px;
padding-right: 10px;
margin-bottom: 0px;
}

.image {
   min-width: 500px; 
   height: 200px;
   padding-right: 60px;
padding-top: 20px;
}

button {
    max-width: 85px;
    height: 25px;
    border-radius: 7px;
    border-color: #3882f6;
    border-style: none;
    margin-top: 7px;
}

h2, button {
    color: #f9faf8;
}

a, p{
   color: lightslategray;
}

a{
  text-decoration: none; 
}

button {
    background-color: #3882f6;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color: #f9faf8;
    
}

.third h2 {
    color: #1F2937;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    margin-top: 0px;
}


.container {
    display: flex;
    flex-direction: row;

}

.box  {
    border: 3px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 8px;
    padding: 75px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    

}

div.box1, div.box2, div.box3, div.box4 {
    text-align: center;
}

p.text1, p.text2, p.text3, p.text4 {
    padding: 15px;
}

.fourth {
    background-color: #e5e7eb;
    padding: 150px;
    display: flex;
    flex-direction: column;
}




p#quote {
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

p#author{
    text-align: end;
    font-weight: bold;
    color: #1F2937;
    font-size: 25px;
}

.fifth {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;

    
}

.finalcontainer {
    background-color: #3882f6;
    display: flex;
    padding: 50px;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
}



p#first {
    color: #f9faf8;
}

p#second {
    color: #e5e7eb;
}

.button {
    display: flex;
    margin-left: 50px;
    border: 2px;
    border-color: #f9faf8;
    border-radius: 5px;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    
}

button#signup {
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

